.contador {
    background-color: rgb(238, 171, 46);
    color: #fff;
    padding: 0 5px 0 5px;
    top: 32px;
    right: 18px;
    border-radius: 50%;
    font-size: 1rem;
    display: block;
    position: absolute;
}